/* Ẩn scrollbar trên Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

/* Ẩn scrollbar trên Firefox */
body {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE, Edge */
}
